@keyframes ex1 {
    from {
        background-image: url(./img_ma2/sea-1669309663751-9151.jpg);
    }

    to {
        background-image: url(./img_ma2/17306_800x480.jpg);
    }
}

#body1 {
    background-image: url(./img_ma2/wp1874157.jpg);
}

.div1 {
    width: 200px;
    height: 200px;
    /* background-image: linear-gradient(to right, orange, blue);*/

    position: relative;
    animation-name: ex;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.div1:hover {
    width: 300px;
    height: 300px;
    transition: 2s;
}

#div-img {
    width: 60%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    animation-name: ex1;
    animation-duration: 12s;
    animation-iteration-count: infinite;


}

#dv {
    width: 60%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



.button {
    background-color: white;
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    border-bottom: 5px solid red;
    border-radius: 10px 10px 0 0;
    width: 30%;
    padding: 5px;
    cursor: pointer;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: steelblue;
    width: 300px;
    height: 40px;
    transition: 0.5s;
}

#font {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    padding-top: 150px;
    font-size: 80px;
    color: rgb(174, 245, 82);
    text-shadow: 2px 2px 5px red;

}

#div2 {
    border: 1px outset rgb(44, 39, 39);
    background-color: lightblue;
    text-align: center;
    height: 20px;
    padding-bottom: 10px;

}

table,
tr,
td {
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
    color: rgba(82, 25, 28, 0.589);
    text-shadow: 2px 2px 5px;
    font-size: large;

}

.box {
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.grid-cont {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(241, 184, 177);
    text-align: justify;


}

.grid-item {
    background-color: rgb(181, 186, 231);
    padding: 2px;
    width: 200px;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    font-weight: bolder;
    font-family: cursive;
    font-style: italic;
    border-radius: 10px 10px 0 0;
    margin-left: 4px;
    text-shadow: 5px;


}

.grid-item:hover {
    width: 210px;
    height: 5%;
    background-color: rgb(233, 235, 132);
    transition: 0.8s;
}

.gradiant {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(165, 68, 68));
}